{% extends "base.html" %}

{% block content %}
<div class="header">
    <h1>{{compo.name}}</h1>
    <h2>{{compo.description}}</h2>
</div>

<div class="content">
    {% if isLoggedin %}
        <p>
            {% if userHasBidragID %}
                <a class="pure-button" href="{% url 'core:viewsinglebidrag' compo.id userHasBidragID.id %}">Vis mitt bidrag</a>
            {% else %}
                <a class="pure-button" href="{% url 'core:upload' compo.id %}">Last opp bidrag</a>
            {% endif %}

            {% if isCrew %}
                <a class="pure-button" href="{% url 'core:viewbidrag' compo.id %}">Vis bidrag</a>
            {% endif %}
        </p>
    {% else %}
        <p><strong>For å laste opp et bidrag, må du være innlogget.</strong></p>
    {% endif %}
    {{compo.htmlContent|safe}}
</div>
{% endblock %}
