{% extends "base.html" %}

{% block content %}
<div class="header">
    <h1>Lag ny bruker</h1>
</div>

<div class="content">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if createdUser %}
        <p>Brukeren <strong>{{createdUser}}</strong> har blitt opprettet, du kan nå logge inn.</p>
    {% else %}
        <p>For at dine bidrag skal bli knyttet til deg må informasjonen under stemme med den informasjonen du har registrert i Geekevents</p>
        <form class="pure-form pure-form-aligned" action="{% url 'core:registerview' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <div class="pure-control-group">
                <label for="name">Brukernavn</label>
                <input id="name" name="username" type="text">
            </div>

            <div class="pure-control-group">
                <label for="first_name">Fornavn</label>
                <input id="first_name" name="first_name" type="text">
            </div>

            <div class="pure-control-group">
                <label for="last_name">Etternavn</label>
                <input id="last_name" name="last_name" type="text">
            </div>

            <div class="pure-control-group">
                <label for="password">Passord</label>
                <input id="password" name="password" type="password" />
            </div>

            <div class="pure-control-group">
                <label for="email">E-post</label>
                <input id="email" name="email" type="email" />
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Lag bruker</button>
            </div>
        </fieldset>
    </form>
    {% endif %}
</div>
{% endblock %}