{% extends "base.html" %}

{% block content %}
<div class="header">
    <h1>Min konto</h1>
</div>

<div class="content">
    <p></p>
    <form class="pure-form pure-form-aligned" action="{% url 'core:accountview' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <fieldset>
            <div class="pure-control-group">
                <label>Brukernavn</label>
                <span class="pure-input-1-2">{{user.username}}</span>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
