{% extends "base.html" %}

{% block content %}
<div class="header">
    <h1>PolarParty Innlevering</h1>
    <h2>Lever dine bidrag til kreative konkurranser</h2>
</div>

<div class="content">

    {% if errorMessage %}
        <div class="alert alert-danger">{{errorMessage}}</div>
    {% endif %}

    <p>Denne tjenesten krever at du logger inn med din GeekEvents-konto for å levere et bidrag, trykk <strong>Logg inn</strong> på sidemenyen.</p>
    <p>Velg en konkurranse for å levere inn ditt bidrag.</p>

    <div class="pure-menu custom-restricted-width">
        <span class="pure-menu-heading">Konkurranser</span>

        <ul class="pure-menu-list">
            {% if compos %}
            {% for compo in compos %}
                {% if compo.isPublished %}
                <li class="pure-menu-item"><a href="/view/{{compo.id}}" class="pure-menu-link">{{compo.name}}</a></li>
                {% endif %}
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
