{% extends "base.html" %}

{% block content %}
<div class="header">
    <h1>{{compo.name}}</h1>
    <h2>Last opp bidrag til {{compo.name}}</h2>
</div>

<div class="content">
    {% if canUpload %}
    <p>Når du leverer inn bidrag så må din brukerinformasjon stemme med det som er registrert i Geekevents eller kan bidraget bli diskvalifisert.</p>
    <form class="pure-form pure-form-aligned" action="{% url 'core:upload_handle' compo.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <fieldset>
            <div class="pure-control-group">
                <label for="name">Navn</label>
                <input id="name" name="title" type="text" class="pure-input-1-2" placeholder="Navn på bidrag...">
            </div>

            <div class="pure-control-group">
                <label for="description">Beskrivelse</label>
                <textarea id="description" class="pure-input-1-2" name="description" placeholder="Skriv en beskrivelse av bidraget..."></textarea>
            </div>

            <div class="pure-control-group">
                <label for="file1">Fil(er)</label>
                <div class="files">
                    <input id="file1" name="files" type="file" />
                    <input id="file2" name="files" type="file" />
                    <input id="file3" name="files" type="file" />
                    <input id="file4" name="files" type="file" />
                    <input id="file5" name="files" type="file" />
                    <input id="file6" name="files" type="file" />
                    <input id="file7" name="files" type="file" />
                    <input id="file8" name="files" type="file" />
                    <input id="file9" name="files" type="file" />
                    <input id="file10" name="files" type="file" />
                </div>
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Last opp</button>
            </div>
        </fieldset>
    </form>
    <p class="footnote">Ved å levere et bidrag aksepterer du og har lest reglene for den respektive konkurranse samt globale regler for kreative-konkurranser.</p>
    {% else %}
    <p>Du har ingen billetter til arrangementet og kan derfor ikke laste opp et bidrag.</p>
    {% endif %}
</div>
{% endblock %}
